

/* css for navbar */
.div-2 {
    line-height: 28px;
    align-items: center;
    width: 100%;
    column-gap: 64px;
    color: #000000;
    max-width: 1442px;
    font-size: 24px;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    height: 100%;
    padding-right: 10px;
    flex-direction: row;
    border: none;
    display: flex;
    justify-content: space-between;
    min-height: 45px;
}

.div-3 {
    margin-right: 0px;
    align-items: center;
    margin-bottom: 0px;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
    flex-basis: 192px;
    column-gap: 3px;
    margin-top: 0px;
    margin-left: 0px;
    display: flex;
}

.img-1 {
    height: 45px;
    flex-basis: 80px;
    width: 75px;
}

.span-1 {
    flex-basis: 114px;
    font-weight: 700;
}

.div-4 {
    justify-content: space-between;
    flex-basis: 930px;
    margin-left: 0px;
    flex-direction: row;
    margin-top: 0px;
    display: flex;
    align-items: flex-start;
    margin-right: 0px;
    font-weight: 500;
    column-gap: 56px;
    margin-bottom: 0px;
}

.span-2 {
    flex-basis: 70px;
}

.span-3 {
    flex-basis: 74px;
}

.span-4 {
    flex-basis: 107px;
}

.span-5 {
    flex-basis: 77px;
}

.span-6 {
    flex-basis: 102px;
}

.span-7 {
    flex-basis: 63px;
}

.span-8 {
    flex-basis: 125px;
}

/* css for home page */

.div-1 {
    flex-direction: row;
    display: flex;
    column-gap: 64px;
    position: relative;
    justify-content: space-between;
    align-items: end;
    font-size: 24px;
    line-height: 32px;
}

.div-5 {
    row-gap: 46px;
    margin-right: 0px;
    flex-direction: column;
    display: flex;
    flex-basis: 143px;
    justify-content: flex-start;
    align-items: end;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
    height: 70%;
}

.img-2 {
    width: 107px;
    flex-basis: 27px;
    height: 23px;
}

.div-6 {
    height: 70%;
    justify-content: flex-start;
    display: flex;
    margin-left: 0px;
    margin-bottom: 0px;
    row-gap: 19px;
    margin-right: 21px;
    flex-basis: 186px;
    align-items: start;
    flex-direction: column;
    margin-top: 0px;
}

.symbol_button-2 {
    height: 64px;
    flex-basis: 69px;
    width: 64px;
    /* background-color: rgba(8, 157, 87, 0.5); */
}

.img-3 {
    margin-left: 19px;
    margin-right: 0px;
    /* background-color: rgba(255, 193, 7, 0.5); */
    height: 98px;
    flex-basis: 103px;
    width: 98px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.div-7 {
    justify-content: flex-start;
    display: flex;
    margin-left: 0px;
    column-gap: 64px;
    margin-right: 0px;
    margin-bottom: 0px;
    flex-direction: row;
    height: 100%;
    font-weight: 700;
    align-items: end;
    margin-top: 0px;
    flex-basis: 695px;
}

.button-5 {
    padding-top: 22px;
    max-width: 244px;
    border-radius: 35px;
    background-color: #4c4848;
    flex-basis: 249px;
    padding-right: 37px;
    padding-bottom: 27px;
    min-height: 66px;
    padding-left: 35px;
    border: none;
}

.join-as-member-1 {
    color: #ffffff;
}

.div-8 {
    row-gap: 54px;
    flex-direction: column;
    margin-bottom: 0px;
    align-items: end;
    flex-basis: 387px;
    margin-left: 0px;
    justify-content: flex-start;
    margin-right: 0px;
    height: 100%;
    display: flex;
    margin-top: 0px;
}

.img-4 {
    width: 231px;
    flex-basis: 235px;
    height: 231px;
}

.button-7 {
    margin-top: 0px;
    flex-basis: 71px;
    margin-bottom: 0px;
    border-radius: 35px;
    min-height: 66px;
    padding-left: 57px;
    margin-right: 64px;
    padding-right: 54px;
    padding-bottom: 25px;
    border: none;
    max-width: 244px;
    align-self: stretch;
    background-color: #c0c0c0;
    padding-top: 23px;
    margin-left: 0px;
}

.discord-join-2 {
    color: #000000;
}

.classname-3 {
    right: 201px;
    color: #000000;
    position: absolute;
    font-weight: 400;
    top: 146px;
}

.img-5 {
    height: 567px;
    width: 567px;
    
}

.img-6 {
    /* background-color: rgba(77,170,245,0.22); */
    width: 572px;
    height: 375px;
}

.img-7 {
    width: 1920px;
    height: 880px;
}