* {
    
    box-sizing: border-box;
}

.head {
    display: flex;
    background-color: #15967D;
    color: white;
    height: 250px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.navbar {
    display: flex;
    background-color: #181A1B;
    color: white;
    /* padding: 0 10px ; */
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 15px;
}

.navbar a:hover {
    /* text-decoration: none; */
    background-color: #ddd;
    color: black;
}

@media screen and (max-width: 480px) {
    .navbar {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    /* background-color: #F1F1F1; */
}

.side{
    background-color: #F1F1F1;
    flex: 30%;
    padding: 20px;
    /* color:; */
}

.fakeimg{
    background-color: #AAAAAA;
    width: 100%;
    height: 200px;
    padding: 20px;
}

.fakeimg_dup{
    background-color: #AAAAAA;
    width: 100%;
    height: 60px;
    padding: 20px;
}

.main{
    /* display: flex; */
    flex: 70%;
    padding: 20px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDDDDD;
    /* margin-bottom: 0px; */
}
