*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: consolas;
}

.btn{
    background: none;
    color: #111;
    padding:15px 60px;
    margin:20px auto;
    font-size: 1em;
    max-width: 200px;
    outline: navajowhite;
    display: block;
    border: 2px solid #111;
    cursor: pointer;
}

.container{
    display: flex; 
    flex-wrap: wrap;
}

.box{
    width: 20%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f00;
    border: 2px solid #fff;
    color:#fff;
    font-size:1.5 em;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}